In [6]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split

In [2]:
file_dir = "../data/HR.csv"
HR_data = pd.read_csv(file_dir)

In [15]:
boolean_columns = ['Work_accident', 'left', 'promotion_last_5years']
category_columns = ['sales', 'salary']

In [3]:
for col in boolean_columns:
    HR_data[col] = HR_data[col].astype('bool')

In [4]:
for col in category_columns:
    HR_data[col] = HR_data[col].astype('category')

In [30]:
dummy_sales = pd.get_dummies(HR_data['sales'], drop_first=True, dtype = bool)
dummy_salary = pd.get_dummies(HR_data['salary'], drop_first=True, dtype = bool)

In [41]:
HR_oneHotEncoding = pd.concat([HR_data.drop(category_columns, axis = 1), dummy_sales, dummy_salary], axis = 1)

In [45]:
HR_OneHotEnc_path = "../data/HR_OneHotEnco.pkl"

HR_oneHotEncoding.to_pickle(HR_OneHotEnc_path)

In [50]:
features = HR_oneHotEncoding.columns.tolist()
features.remove('left')

In [52]:
target = 'left'

In [53]:
X_train, X_test, y_train, y_test = train_test_split(HR_oneHotEncoding, HR_oneHotEncoding[target], test_size = 0.3, random_state = 0)

In [ ]:
X_train.to_pickle("../data/HR_Xtrain.pkl")
X_test.to_pickle("../data/HR_Xtest.pkl")
y_train.to_pickle("../data/HR_Ytrain.pkl")
X_test.to_pickle("../data/HR_Ytest.pkl")

In [48]:
HR_oneHotEncoding.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical,low,medium
0,0.38,0.53,2,157,3,False,True,False,False,False,False,False,False,False,True,False,False,True,False
1,0.80,0.86,5,262,6,False,True,False,False,False,False,False,False,False,True,False,False,False,True
2,0.11,0.88,7,272,4,False,True,False,False,False,False,False,False,False,True,False,False,False,True
3,0.72,0.87,5,223,5,False,True,False,False,False,False,False,False,False,True,False,False,True,False
4,0.37,0.52,2,159,3,False,True,False,False,False,False,False,False,False,True,False,False,True,False